<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Imagen de referencia</h1>
    <img src="/img/EC1.jpg" alt="">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto quaerat voluptatem sint voluptatum officiis! Id magni odit a sapiente natus minima inventore voluptatem eum possimus, nisi deserunt quisquam officia cumque.</p>
</body>
</html>