<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>home</title>
</head>
<body>
    <h1>Welcome!</h1>
    <header id="header">
        <ul class="nav">
            <li><a href=""> Inicio </a></li>
            <li> <a href=""> Gente de renombre </a></li>
                <ul>
                    <li><a href="/babbage">babbage</a></li>
                    <li><a href="/berners">berners</a></li>
                    <li><a href="/clarke">clarke</a></li>
                    <li><a href="/hamilton">hamilton</a></li>
                    <li><a href="/hopper">hopper</a></li>
                    <li><a href="/lovelace">lovelace</a></li>
                    <li><a href="/turing">turing</a></li>
                </ul>
            <li> <a href=""> Mas detalles</a> </li>
        </ul>
    </header>

</body>
</html>