<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Lovelace</title>
</head>
<body>
    <h1>Imagen de referencia</h1>
    <img src="/img/ada_lovelace.jpg" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nesciunt veniam velit repudiandae quibusdam nostrum, asperiores, quod totam error incidunt sit facilis rerum recusandae neque. Reprehenderit repudiandae iure cupiditate illum?</p>
</body>
</html>