<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turing</title>
</head>
<body>
    <h1>Imagen de referencia</h1>
    <img src="/img/Alan_Turing_Aged_16.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam labore, distinctio unde aliquam eius dicta nulla debitis fugiat vero culpa cum, odio, nesciunt sunt quam ut recusandae repellat fugit quidem?</p>
</body>
</html>